body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 50px;*/
}

.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.header h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
}

.top-menu {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}

.top-menu a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.top-menu a:hover {
    background-color: #007bff;
    color: #fff;
}


.to-center {
    text-align: center; /* Center the content horizontally */
    padding: 30px 0; /* Add some padding for spacing */
}


.video-section {
    text-align: center; /* Center the content horizontally */
    padding: 30px 0; /* Add some padding for spacing */
}

.video-container {
    display: inline-block; /* Display the video container as an inline block */
    /* Add any additional styles for the video container, such as width, height, etc. */
}
